.confirm-button-group {
  margin-top: auto;
  display: flex;
  padding: 10px;

  ion-button {
    flex: 1;
  }
}

.content-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.confirm-message {
  margin-top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
