<div class="appointment event--{{sessionEvent?.status}}" (click)="showItemOptions()"
     [ngClass]="{
                'appointment--VALIDATED' : (sessionEvent?.status === 'VALIDATED') }">
    <div class="event-item-title">
        <div class="care-giver" *ngIf="['NOAH_KLANT'].indexOf(sessionEvent.type) === -1">
            {{sessionEvent?.employee?.name}} {{sessionEvent?.employee?.surname}}</div>
        <div class="care-giver" *ngIf="['NOAH_KLANT'].indexOf(sessionEvent.type) !== -1">
            {{(sessionEvent?.noah)}}</div>
        <div class="care-date">
            {{sessionEvent?.start | date : 'HH:mm'}} - {{sessionEvent?.end | date : 'HH:mm'}}
        </div>

    </div>

    <div class="event-item-title">
        <div class="session-type">{{sessionEvent.resolvedServiceType}}</div>
        <div class="session-duration">{{sessionEvent.getDurationAsString()}}</div>
    </div>


    <ion-item class="item item-trns event-item" lines="none">
        <ion-icon class="type-icon" [icon]="sessionEvent.typeIcon"></ion-icon>
    </ion-item>


    <ion-item class="item item-trns event-item" lines="none">
        <ion-label class="ion-color-light"><small>(<span [translate]="'SESSION_STATUS.' + sessionEvent?.status"></span>)</small>
        </ion-label>
        <ion-icon [icon]="sessionEvent.statusIcon"></ion-icon>
    </ion-item>
    <ion-item class="item item-trns event-item" lines="none"
              *ngIf="['HULPBEURT', 'MEELOPERTAAK', 'NOAH', 'NOAH_KLANT'].indexOf(sessionEvent.type) !== -1">
        <ion-badge [color]="sessionEvent?.clientCommunicated ? 'success' : 'danger'">
            <small [translate]="sessionEvent?.clientCommunicated ? 'GENERAL.COMMUNICATED' : 'GENERAL.NOT_COMMUNICATED'"></small>
        </ion-badge>
    </ion-item>
</div>
