<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-buttons slot="start">
            <ion-menu-button (click)="showMenu()"></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'SETTINGS_PAGE.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list class="settings-content">
      <ion-item>
        <ion-label translate="SETTINGS_PAGE.LANGUAGE_LABEL"></ion-label>
        <ion-select placeholder="{{'SETTINGS_PAGE.SELECT_LANGUAGE' | translate}}" [(ngModel)]="currentLanguage">
          <ion-select-option value="en-US">English</ion-select-option>
          <ion-select-option value="nl-NL">Nederlands</ion-select-option>
        </ion-select>
      </ion-item>
        <ion-item>
            <ion-label translate="SETTINGS_PAGE.NUMBER_PERMANENCE_LABEL"></ion-label>
            <ion-input placeholder="{{'SETTINGS_PAGE.NUMBER_PERMANENCE_PLACEHOLDER' | translate}}" [(ngModel)]="permanenceNumber"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button class="save-button" translate="GENERAL.SAVE" (click)="saveSettings()"></ion-button>



</ion-content>
